header, form, input, nav, main, section, article, h1, div{
	border: 1px solid red;
}
nav {
	color: #fff000;
}
ul {
	list-style-type: none;
}
li {
	display: inline;
}
/*
header {
	background-color: #000000;
	}
*/
